/* WYPR custom Typographic styles for TLBU site */

/*
==========================================
*/

body {
  font-family: "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}


/* COLOR INFO */
/*
Orange: rgba(232,124,66,1)    #E87C42
Brown:  rgba(121,109,105,1)   #796D69
Blue:   rgba(63,184,199,1)    #3FB8C7
Yellow: rgba(252,177,51,1)    #FCB133
*/

/* Color Rules, Etc.
==========================================
*/

html, body { color: black; }
a, a:link, a:visited, a:hover, a:active, a.active { color:#796D69; text-decoration: none; }
li.menu-390 a { color: rgba(232,124,66,1); }
li.menu-389 a { color: rgba(63,184,199,1); }
li.menu-470 a { color: rgba(252,177,51,1); }

.os h3, .os h3 a {color:#E87C42;}
.si h3, .si h3 a {color:#3FB8C7;}
.ys h3, .ys h3 a {color:#FCB133;}

.pagelisting h3.post-title {
  font-size: 150%;
  line-height: 100%;
  margin: 12.5px 0 0 0;
}

p, pre {
  margin: 12.5px 0;
}

.text13px {
  font-size: 13px !important;
}

/* The End */