/* WYPR custom Typographic styles for TLBU site */

/*
==========================================
*/

body {
  font-family: "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}