
/* WYPR custom stlyes for TLBU site */

/* GRID INFO */

/* COLOR INFO */
/*
Orange: rgba(232,124,66,1)    #E87C42
Brown:  rgba(121,109,105,1)   #796D69
Blue:   rgba(63,184,199,1)    #3FB8C7
Yellow: rgba(252,177,51,1)    #FCB133
*/

/*
==========================================
*/

#site-name,
#site-name a {
  display: block;
  height: 150px;
  width: 775px;
  }

#site-name a {
  background: url(i/tlbu-banner.png) center center no-repeat;
  overflow: hidden;
  text-indent: -999999px;
  }
  

/* Our Stories
==========================================*/

h2.post-title,
h2.post-title a {
  color: #E87C42;
  margin: 0;
  text-decoration: none;
  }
  
div.airdate, 
div.airdate strong, 
div.airdate p {
  margin: 0;
}

div.airdate p {
  margin: 0 0 0 12.5px;
  display: inline-block;
}