/* @override http://wypr.ookb.co/sites/wypr.ookb.co/files/css/css_SVpsn0v4KmMqxcWPw8LcRbxKdH3VVGOTOEqikV_B7JA.css */

/* WYPR custom stlyes for TLBU site */


/*
==========================================
*/

#site-name,
#site-name a {
  display: block;
  height: 150px;
  width: 775px;
  }

#site-name a {
  background: url(i/tlbu-banner.png) center center no-repeat;
  overflow: hidden;
  text-indent: -999999px;
  }
  
