/**
 * @file
 * Positioning for a fixed-width, desktop-centric layout.
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

/* customize html.tpl.php for holding WYPR header and ad sidebar */
/* Initial Space holding for Header and Ad sidebar */
#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  top: 0;
  }
 
#wypr-header,
#wypr-adcolumn {
  position: absolute;
  }
 
#wypr-header {
  border-bottom: 1px solid black;
  height: 68px;
  width: 960px;
  margin: 0;
  padding: 0 0 19px 0;
  /**/
  top: 0;
  left: 0;
}

#wypr-adcolumn {
  background: beige;
  height: 100%;
  min-height: 600px;
  width: 160px;
  /**/
  top: 88px;
  right: 0;
  }

#page {
  position: relative;
  width: 800px;
  top: 100.5px;
  left: -12.5px;
  }

/*
 * Center the page.
 */

.region-bottom {
  /* If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. */
  margin: 0;
  width: 775px;
}

footer {
  width: 775px;
  margin: 0 12.5px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */

#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 0;
  padding-right: 0;
  border: 0 !important;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/*
 * Containers for grid items and flow items.
 */

#header,
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
#header:before, #header:after,
#main:before, #main:after,
#footer:before, #footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Navigation bar
 */

#main {
  margin: 0 12.5px;
  padding-top: 75px; /* Move all the children of #main down to make room. */
  position: relative;
}

#navigation {
  position: absolute;
  top: 0; /* Move the navbar up inside #main's padding. */
  height: 50px;
}

/*
 * The layout when there is only one sidebar, the left one.
 */

.sidebar-first #content {
  /* Span 4 columns, starting in 2nd column from left. */
  float: left;
  width: 475px;
  margin-left: 300px;
  margin-right: -775px;
}

.sidebar-first .region-sidebar-first {
  /* Span 1 column, starting in 1st column from left. */
  float: left;
  width: 275px;
  margin-left: 0px;
  margin-right: -300px;
}

/*
 * The layout when there is only one sidebar, the right one.
 */

.sidebar-second #content {
  /* Span 4 columns, starting in 1st column from left. */
  float: left;
  width: 475px;
  margin-left: 0px;
  margin-right: -500px;
}

.sidebar-second .region-sidebar-second {
  /* Span 1 column, starting in 5th column from left. */
  float: left;
  width: 275px;
  margin-left: 500px;
  margin-right: -775px;
}

/*
 * The layout when there are two sidebars.
 */

.two-sidebars #content {
  /* Span 3 columns, starting in 2nd column from left. */
  float: left;
  width: 375px;
  margin-left: 200px;
  margin-right: -575px;
}

.two-sidebars .region-sidebar-first {
  /* Span 1 column, starting in 1st column from left. */
  float: left;
  width: 175px;
  margin-left: 0px;
  margin-right: -200px;
}

.two-sidebars .region-sidebar-second {
  /* Span 1 column, starting in 5th column from left. */
  float: left;
  width: 175px;
  margin-left: 600px;
  margin-right: -775px;
}

/*
Content Top and Content Bottom
*/

#content_bottom {
  margin: 25px -12.5px;
  padding: 25px 0;
  width: 800px;
}

